<h1>{title}</h1>
<form action="{url}" method="post">
    <input type="hidden" name="revision" value="{revision}"/>
    <textarea name="content" class="editor">{content}</textarea>
    <br/>
    <label for="comment">Comment:</label><input type="text" name="comment" value="{comment}" size="40"/>
    <div class="error">{error}</div>
    <button type="submit">Save</button>
    <button type="submit" name="preview" value="preview">Preview</button>
    <button type="submit" name="cancel" value="cancel">Cancel</button>
    <input type="hidden" name="error" value="{error}" />
    <p><a href="https://help.github.com/articles/markdown-basics" target="_blank">Markdown help<a/></p>
</form>
