<div id="loginform">
{if user}
    <form action="/logout" method="post">
        <div>Logged in as: {user.name} <button type="submit" name="logout">Log Out</button></div>
    </form>
{else}
    <form action="/login" method="post" class="loginForm">
        <label>Username:</label>
        <input type="text" name="username" id="username"/>
        <label>Password:</label>
        <input type="password" name="password" id="password"/>
        <button type="submit" name="login" value="Log In">Log In</button>
    </form>
    <form action="/launchSignup" method="post" id="signupForm" class="loginForm">
        <button type="submit" name="signup" value="Sign Up">Sign Up</button>
    </form>
{/if}
</div>
