<div id="loginform">
{if user}
    <form action="/logout" method="post">
        <div>Logged in as: {user.name} <button type="submit" name="logout">Log Out</button></div>
    </form>
{else}
    <form action="/login" method="post" class="loginForm">
        <label>Username:</label>
        <input type="text" name="username" id="username"/>
        <label>Password:</label>
        <input type="password" name="password" id="password"/>
        <button type="submit" name="login" value="Log In">Log In</button>
    </form>
    <form action="/signup" method="post" id="signupForm" class="loginForm">
        <input type="hidden" name="username" id="username_signup"/>
        <input type="hidden" name="password" id="password_signup"/>
        <button type="submit" name="signup" value="Sign Up" onclick="copyLoginFields()">Sign Up</button>
    </form>
{/if}
</div>

<script type="text/javascript">
    function copyLoginFields(){
        document.getElementById("username_signup").value = document.getElementById("username").value;
        document.getElementById("password_signup").value = document.getElementById("password").value;
        document.getElementById("signupForm").submit();
    }
</script>
