<html>
    <head>
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href="/public/css/jquery-ui-1.10.4.custom.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/public/css/wiki_style.css"></link>
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="/public/js/wiki.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="left"><h1 class="title"><a href="/wiki/">Wiki</a></h1></div>
            <div class="login" id="login">
                <div id="loggedInView" style="display:none">
                    <div>Logged in as: <span id="displayUserName"></span><button id="logoutButton">Log Out</button></div>
                </div>
                <div id="loginView" style="display:none">
                    <form class="form" id="loginForm">
                        <label>Username:</label><input type="text" name="username" id="username"/>
                        <label>Password:</label><input type="password" name="password" id="password"/>
                        <button name="login" value="Log In" id="loginButton">Log In</button>
                    </form>
                    <button name="signup" value="Sign Up" id="signupButton" class="form">Sign Up</button>
                </div>
            </div>
            <div id="signupView" style="display:none">
                <form id="signupForm">
                    <label>Username:</label><input type="text" name="username" id="newusername"/><br/>
                    <label>Password:</label><input type="password" name="password" id="newpassword"/><br/>
                    <label>Email:</label><input type="text" name="email" id="newemail" size="25"/><br/>
                    <div id="formError" class="error"></div>
                    <button type="submit" name="signup" value="Sign Up">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div id="error" class="error"></div>
           {>content}
        </div>
        <script type="text/javascript">
            var page = '{page}';
            $('#loginForm').submit(doLogin);
            $('#signupForm').submit(doSignup);
            $('#signupButton').click(showSignup);
            $('#logoutButton').click(doLogout);
            $(showLoginView);
        </script>
    </body>
</html>
