<html>
    <head>
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href="/public/css/jquery-ui-1.10.4.custom.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/public/css/wiki_style.css"></link>
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="/public/js/wiki.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="left"><h1 class="title"><a href="/wiki/">Wiki</a></h1></div>
            <div class="login">{>login}</div>
        </div>
        <script type="text/javascript">
            var page = '{page}';
            $(showLoginView);
            $({handler});
        </script>
        <div class="content">
            <div id="error" class="error"></div>
           {>content}
        </div>
    </body>
</html>
