# Requirements to run crawl.py, the web crawler example, with Python 3.3.
# The asyncio module is not included in Python 3.3's standard library but
# can be installed as a package from PyPI with pip. First install pip:
#
#     https://pip.pypa.io/en/latest/installing.html
#
# Then install these packages with "pip install -r requirements-py33.txt".

asyncio
aiohttp>=0.16
