<html>
    <head>
        <title>{title}</title>
        <style>.error {color: red} </style>
    </head>
    <body>
        <h1>{title}</h1>
        <form action="{url}" method="post">
            <input type="hidden" name="revision" value="{revision}"/>
            <textarea name="content" style="width:80%;height:80%">{content}</textarea>
            <br/>
            <label for="comment">Comment:</label><input type="text" name="comment" value="{comment}" size="100"/>
            <div class="error">{error}</div>
            <button type="submit">Save</button>
        </form>
    </body>
</html>
