*.aux
*.pyc
*.swp
*1
*~
.DS_Store
.c9
.coverage
.python-version
_site
htmlcov
output
tex/*.tex.1
tex/500L.bib
tex/500L.bbl
tex/500L.blg
tex/500L.log
tex/500L.out
tex/500L.toc
tex/blockcode-images
tex/blockcode.markdown
tex/ci-images
tex/ci.markdown
tex/cluster-images
tex/cluster.markdown
tex/contingent-images
tex/contingent.markdown
tex/colophon.tex
tex/crawler-images
tex/crawler.markdown
tex/dagoba.markdown
tex/data-store-images
tex/data-store.markdown
tex/flow-shop-images
tex/flow-shop.markdown
tex/frontmatter-images
tex/frontmatter.tex
tex/functionalDB-images
tex/functionalDB.markdown
tex/image-filters-images
tex/image-filters.markdown
tex/intro.tex
tex/interpreter-images
tex/interpreter.markdown
tex/modeller-images
tex/modeller.markdown
tex/objmodel-images
tex/objmodel.markdown
tex/ocr-images
tex/ocr.markdown
tex/pedometer-images
tex/pedometer.markdown
tex/sample-images
tex/sample.markdown
tex/sampler-images
tex/sampler.markdown
tex/same-origin-policy-images
tex/same-origin-policy.markdown
tex/spreadsheet-images
tex/spreadsheet.markdown
tex/static-analysis.markdown
tex/template-engine.markdown
tex/web-server-images
tex/web-server.markdown
html/content
html/cache
*.pid
