*.aux
*.pyc
*.swp
*1
*~
.DS_Store
.c9
.coverage
.python-version
_site
htmlcov
output
tex/*.tex.1
tex/500L.bib
tex/500L.bbl
tex/500L.blg
tex/500L.log
tex/500L.out
tex/500L.toc
tex/ci-images
tex/ci.markdown
tex/cluster-images
tex/cluster.markdown
tex/colophon.tex
tex/crawler-images
tex/crawler.markdown
tex/data-store-images
tex/data-store.markdown
tex/flow-shop-images
tex/flow-shop.markdown
tex/frontmatter-images
tex/frontmatter.tex
tex/intro.tex
tex/modeller-images
tex/modeller.markdown
tex/objmodel-images
tex/objmodel.markdown
tex/pedometer-images
tex/pedometer.markdown
tex/sample-images
tex/sample.markdown
tex/sampler-images
tex/sampler.markdown
tex/spreadsheet-images
tex/spreadsheet.markdown
tex/static-analysis.markdown
tex/template-engine.markdown
html/content
html/cache
*.pid
