*.aux
*.pyc
*.swp
*1
*~
.DS_Store
.c9
.coverage
.python-version
_site
htmlcov
output
tex/*.tex.1
tex/500L.bib
tex/500L.bbl
tex/500L.blg
tex/500L.log
tex/500L.out
tex/500L.toc
tex/500L.tex
tex/blockcode*
tex/ci*
tex/cluster*
tex/contingent*
tex/colophon.tex
tex/crawler*
tex/dagoba*
tex/data-store*
tex/event-web-framework*
tex/flow-shop*
tex/frontmatter*
tex/functionalDB*
tex/image-filters*
tex/intro.tex
tex/interpreter*
tex/modeller*
tex/objmodel*
tex/ocr*
tex/pedometer*
tex/sampler*
tex/same-origin-policy*
tex/spreadsheet*
tex/static-analysis*
tex/template-engine*
tex/web-server*
html/content
html/cache
*.pid
