{% extends "500L.html" %}
{% block header %}
        <div class="hero-unit">
	  <a class='pull-right' href='/en/index.html'></a>
          <h1>{{ page.title }}</h1>
          <h2 class="author">{{ page.author }}</h2>
          <blockquote class="pull-right">
            </blockquote>

        </div>
{% endblock %}
{% block intro %}{% endblock %}
{% block content %}
      <div class="row">
        <div class='span10 offset1' id='content'>
          {{ page.content }}
        </div>
      </div>
{% endblock content %}
{% block footer %}{% endblock %}
