{% extends "500L.html" %}
{% block header %}
        <div class="hero-unit">
	  <a class='pull-right' href='/en/index.html'></a>
          <h1>{{ page.title }}</h1>
          <h2 class="author">{{ page.author }}</h2>
          <blockquote class="pull-right">
            </blockquote>

        </div>
{% endblock %}
{% block intro %}{% endblock %}
{% block content %}
      <div class="row">
        <div class='span10 offset1' id='content'>
            <p><em>This is an early-access chapter from <a href="https://github.com/aosabook/500lines/blob/master/README.md">500 Lines or Less</a>, the fourth book in the <a href="http://aosabook.org">Architecture of Open Source Applications</a> series. Please report any issues you find while reading this on our <a href="https://github.com/aosabook/500lines/issues">GitHub tracker</a>. Watch the <a href="http://aosabook.org/blog/">AOSA blog</a> or on <a href="https://twitter.com/aosabook">Twitter</a> for announcements of new chapters and news about the final publication schedule.</em></p>
          {{ page.content }}
        </div>
      </div>
{% endblock content %}
{% block footer %}{% endblock %}
