<!DOCTYPE html><html><head><meta charset="utf-8">
  <script src="lib/angular.js"></script>
  <script src="dist/main.js"></script>
  <link href="styles.css" rel="stylesheet">
</head><body ng-app ng-cloak ng-controller="Spreadsheet">
  <table><tr>
    <th>
      <a target="_blank" href="https://github.com/audreyt/500lines/tree/master/spreadsheet">&hellip;</a>
    </th>
    <th ng-repeat="col in Cols">{{ col }}</th>
  </tr><tr ng-repeat="row in Rows">
    <th>{{ row }}</th>
    <td ng-repeat="col in Cols" ng-class="{ formula: ( '=' === sheet[col+row][0] ) }">
      <input ng-model="sheet[col+row]" ng-change="calc()">
      <div ng-class="{ error: errs[col+row] }">{{ errs[col+row] || vals[col+row] }}&nbsp;</div>
    </td>
  </tr></table>
</body></html>
