table.data {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 50%;
  display: inline;
  margin: 0 50px;
}

tr, th {
  text-align: left;
  font-size: 14px;
  height: 37px;
  padding: 8px;
}

td {
  border-top: solid 1px rgb(221, 221, 221);
  padding: 8px;
}

td.compare {
  vertical-align: top;
}

form {
  display: inline-table;
  width: 40%;
}

input { width: 300px;}