body { font-family: sans-serif; }
.error { color: red; }
.left { float: left; width: 49%; }
.right { float: right; width: 49%; }
.login { float: right; }
.form { display: inline; }
.content { clear: both; }
.editor { width: 95%; height: 70%; }
.comparecontent { border: 1px solid black; padding: 3px; }
.added { color: green; }
.removed { color: red; text-decoration: line-through; }
.common { color: gray; }
.meta { font-size: 0.8em; color: gray; }
.ui-dialog-titlebar { background: rgb(182, 217, 199); }
h1.title a { text-decoration: none; color: rgb(108, 176, 142); font-size: 2em; }
button { background-color: rgb(182, 217, 199); }
button a {text-decoration: none; color: black;}
pre { white-space: pre-wrap; }
