<script src="/jquery.min.js"></script>
<script src="/highcharts.js"></script>
<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</html>

<script>
  $(function () {
        $('#container').highcharts({
            title: {
                text: 'bag-10-a-1.txt vs bag-10-g-2.txt',
                x: -20 //center
            },
            yAxis: {
                title: {
                    text: 'Magnitude'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Female Bag Accelerometer',
                data: <%= @data.first[:filtered_data] %>
            }, {
                name: 'Female Bag Gravitational',
                data: <%= @data.last[:filtered_data] %>
            }]
        });
    });
</script>