<link href="/styles.css" rel="stylesheet" type="text/css" />
<div class="error"><%= @error %></div>
<html>
  <table class="summary">
    <th>User</th>
    <th>Method</th>
    <th>Input Format</th>
    <th>Trial</th>
    <th>Actual</th>
    <th>Calculated</th>
    <th>Delta</th>
    <th></th>
    <% @data.each do |h| %>
      <tr>
        <%= erb :summary, :locals => {:analyzer => h[:analyzer]} %>
        <td><a href=<%= "trial/" + h[:file_name] %>>Detail</a></td>
      </tr>
    <% end %>
  </table>
  <form method="post" action="/create" enctype="multipart/form-data">
    <h3 class="upload-header">Device Info</h3>
    <input name="parser[file_upload]" type="file">
    <input name="device[rate]" type="number" class="params" placeholder="Sampling Rate">
    <input name="device[steps]" type="number" class="params" placeholder="Actual Step Count">
    <input name="device[trial]" type="number" class="params" placeholder="Trial Number">
    <select name="device[method]" class="params">
      <option value="">(Select a method)</option>
      <option value="walk">Walking</option>
      <option value="run">Running</option>
      <option value="bagwalk">Walking, phone in bag</option>
      <option value="bagrun">Running, phone in bag</option>
    </select>
    <h3 class="upload-header">User Info</h3>
    <select class="params" name="user[gender]">
      <option value="">(Select a gender)</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select>
    <input class="params" type="number" name="user[height]" placeholder="Height (cm)">
    <input class="params" type="number" name="user[stride]" placeholder="Stride (cm)">
    <div class="controls"><input type="submit" value="submit"></div>
  </form>
</html>