<html>
    <head>
        <title>{title}</title>
        <style>
            body { font-family: sans-serif;}
            .error {color: red}
            .left {float: left; width: 49%}
            .right {float: right; width: 49% }
            .login {float: right;}
            .content {clear: both}
            .comparecontent {border: 1px solid; padding: 3px;}
            h1.title a {text-decoration: none; color: rgb(108, 176, 142); font-family: sans-serif; font-size: 2em;}
            button { background-color: rgb(182, 217, 199) }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="left"><h1 class="title"><a href="/wiki/">Wiki</a></h1></div>
            <div class="login">{>login}</div>
        </div>
        <div class="content">{>body}</div>
    </body>
</html>
